.tab:selected {
	-fx-background-color: #5FBAD3;
}

.jfx-toggle-button {
     -jfx-toggle-color: #6097d1;
     -jfx-untoggle-color: #FAFAFA;
     -jfx-toggle-line-color: #5fbad3;
     -jfx-untoggle-line-color: #999999;
     -jfx-size: 10.0;
     -jfx-disable-visual-focus: false;
}

.jfx-check-box {
     -jfx-checked-color: #5fbad3;
     -jfx-unchecked-color: #5a5a5a;
}
/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: #5FBAD3;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #5FBAD3;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color: #5FBAD3;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}

.jfx-button {
     -jfx-button-type: FLAT;
}
.globe-tiles {
	 -fx-image: url("globe_tiles.gif");
}